:root {
    --azulpastel: #00c3ff;
    --azulmarino: #002088;
    --gris1: #18243b;
    --gris2: #393939;
    --grisClaro: #d3d3d3;
}
/*** UTILIDADES ***/
html {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-size: 62.5%;
    display: center;
}
h1{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--azulmarino);
}
.contenedor{
    width: 90%;
    max-width: 120rem;
    margin:  auto;
}
/* Barra */
.barra{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 250px;
  padding: .2rem;
  margin: -92px;
    
}
/* Buscador */
.contenido-buscar {
    background-color: var(--gris1);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    font-size: 1rem;
    margin: 0 0;
}
.buscar{
    color: white;
    padding: .5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.buscar input[type="text"]{
    flex: 1 1 0;
    margin: 0 .5rem;
    border-radius: .7rem;
    border: none;
    padding: .2rem;
}
.buscar input[type="submit"]{
/*     background-color: rgb(252, 126, 16); */
    background-color: var(--azulpastel);
    padding: .2rem 1rem;
    border: none;
    border-radius: .5rem;
    color: white;
    cursor: pointer;
}
.buscar input[type="submit"]:hover{
    background-color: white;
    color: var(--naranja);
}
img{
    width: 100%;
}
.boton{
    background-color: var(--naranja);
    padding: 1rem 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: #000000;
    font-weight: 900;
    display: block;
    text-align: center;
    border-radius: 1rem;
}
.boton:hover{
    background-color: white;
    color: var(--azulmarino);
}
.imagen img{
    border-radius: 2rem;
    width: 85%;
}
h2{
    text-align: center;
    font-size: 1.5rem;
    color: var(--azulmarino);
    text-transform: uppercase;
    font-weight: 800;
}
/* Header */
.site-header{
    /*background-color: var(--gris2);*/
    /*background-image: url(/img/degradado.png);*/
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,60,121,1) 53%, rgba(2,0,36,1) 100%);
    height: 10rem;
    padding: 1rem 3rem 1rem 3rem;
}
.contenido_header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1rem;
    display: inline-block;
    font-weight: bold;
}
.navegacion a :last-of-type{
    margin: 0;
}
.navegacion a:hover{
    color: var(--azulpastel);
}


.iniciar-r a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1rem;
    display: inline-block;
    font-weight: bold;
}
.iniciar-r a:hover{
    color: var(--azulpastel);
}
/* BLOQUES */
.seccion{
    margin-top: 10rem;
    margin-bottom: 3rem;
}
.contenedor-bloques{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.anuncio{
    flex: 0 0 calc(33.3% - 2rem);
    flex-grow: 0;
    background-color: var(--grisClaro);
    margin-bottom: 2rem;
    border-radius: 1rem;
}
.contenido_anuncio{
    padding: 1rem;
}
.contenido_anuncio h3{
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    color: var(--azulmarino);
    text-transform: uppercase;
}
.contenido_anuncio p{
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: justify;
}
.anuncio img{
    border-radius: .5rem;
}
.contenido_centrado{
    max-width: 80rem;
}
.resumen_nosotros p{
    color: var(--gris1);
    font-size: 1rem;
    margin: 1.2;
    text-align: center;
    font-weight: 400;
}
.contenido_centrado img{
    width: 50%;
}
/* BLOQUES NOSOTROS MISION VISION*/
/* BLOQUES */
.seccionN{
    margin-top: 10rem;
    margin-bottom: 3rem;
}
.contenedor-bloquesN{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Contenido conócenos */
.contenido_conocenos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    text-align: justify;


}
.texto-contenido blockquote{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--gris1);
    text-transform: uppercase;
}
/* FOOTER */
.contenedor_footer{
    display: flex;
    text-align: center;
    justify-content: center;
}
.site-footer{
    background-color: var(--gris1);
    margin: 0;
    padding: 1rem 5rem;
}
.copyright p{
    color: var(--grisClaro);
    font-size: 1rem;
    font-weight: 600;
}
.imagen{
    text-align: center;
}
.equipo {
    column-count:5;
    column-gap: 3em;
	column-rule: 1px solid #bbb;
    text-align: center;
    
}
.equipo img{
    justify-content: center;
   width: 100px;
   height: 100px;
    border-radius: 5rem;
}
.equipo p{
    font-size: medium;
    text-align: center;
}
.content{
    box-sizing: border-box;
    background: #181818;
    color: #d3d3d3;
    padding: 0 1.5em;
    font-size: medium;
    max-width: 1170px;
    margin-left: auto;
    margin-right:auto ;
}
.logo-agenda{
text-align: center;
font-size: 3rem;
text-transform: capitalize;
color: #d3d3d3;
}
.logo-agenda span{
    color: #71cde9;
}
.agenda-wrapper{
box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}
.agenda-wrapper > *{
    padding: 1em;
}
.agenda-form{
    background: #222222;
}
.agenda-form form p{
    margin: 0;
    padding: 1em;
}

.agenda-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.agenda-form form .block{
grid-column: 1 / 3;
}

.agenda-form form button,
.agenda-form form select,
.agenda-form form input,
.agenda-form form textarea{
    width: 100%;
    padding: .5rem;
    outline: 0;
    border: none;
    border-bottom: 1px solid #71cde9;
}
.agenda-form form button{
    background: #71cde9;
    border: 0;
    text-transform: uppercase;
}

.agenda-form form button:hover,
.agenda-form form button:focus{
    background: #006eff;
    color: beige;
    transition: background-color 1s ease-out;
    outline: 0;
}
.agenda-info{
    background: #000;
}
.agenda-info h4,
.agenda-info ul,
.agenda-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}
.agenda-info ul{
    list-style: none;
    padding: 0;
}
.agenda-info ul li {
    padding: .3em;
}
/* ancho del formu */
@media (min-width:700px){
    body{
        padding: 0 4 rem;  
    }
    .agenda-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .agenda-wrapper > *{
        padding: 2em;
    }
    .agenda-info h4,
    .agenda-info ul,
    .agenda-info p{
        padding: 1em;
        text-align: left;
    }

    
}
