:root {
    --azulpastel: #00c3ff;
    --azulmarino: #002088;
    --gris1: #18243b;
    --gris2: #393939;
    --grisClaro: #d3d3d3;
}
/*** UTILIDADES ***/
html {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-size: 62.5%;
}
h1{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--azulmarino);
}
.contenedor{
    width: 90%;
    max-width: 120rem;
    margin:  auto;
}
/* Barra */
.barra{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 250px;
  padding: .2rem;
  margin: -92px;
    
}
/* Buscador */
.contenido-buscar {
    background-color: var(--gris1);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    font-size: 1rem;
    margin: 0 0;
}
.buscar{
    color: white;
    padding: .5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.buscar input[type="text"]{
    flex: 1 1 0;
    margin: 0 .5rem;
    border-radius: .7rem;
    border: none;
    padding: .2rem;
}
.buscar input[type="submit"]{
/*     background-color: rgb(252, 126, 16); */
    background-color: var(--azulpastel);
    padding: .2rem 1rem;
    border: none;
    border-radius: .5rem;
    color: white;
    cursor: pointer;
}
.buscar input[type="submit"]:hover{
    background-color: white;
    color: var(--naranja);
}
.boton{
    background-color: var(--naranja);
    padding: 1rem 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: #000000;
    font-weight: 900;
    display: block;
    text-align: center;
    border-radius: 1rem;
}
.boton:hover{
    background-color: white;
    color: var(--azulmarino);
}
.imagen img{
    border-radius: 2rem;
    width: 85%;
}
h2{
    text-align: center;
    font-size: 1.5rem;
    color: var(--azulmarino);
    text-transform: uppercase;
    font-weight: 800;
}
/* Header */
.site-header{
    /*background-color: var(--gris2);*/
    /*background-image: url(/img/degradado.png);*/
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,60,121,1) 53%, rgba(2,0,36,1) 100%);
    height: 10rem;
    padding: 1rem 3rem 1rem 3rem;
}
.contenido_header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1rem;
    display: inline-block;
    font-weight: bold;
}
.navegacion a :last-of-type{
    margin: 0;
}
.navegacion a:hover{
    color: var(--azulpastel);
}


.iniciar-r a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1rem;
    display: inline-block;
    font-weight: bold;
}
.iniciar-r a:hover{
    color: var(--azulpastel);
}
/* FOOTER */
.contenedor_footer{
    display: flex;
    text-align: center;
    justify-content: center;
}
.site-footer{
    background-color: var(--gris1);
    margin: 0;
    padding: 1rem 5rem;
}
.copyright p{
    color: var(--grisClaro);
    font-size: 1rem;
    font-weight: 600;
}
.fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    
    
    background-position: center;
    background-size: cover;
}

.loginbox{
    width: 40%;
    height: 80%;
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
    top: 130%;
    left: 60%;
    position: absolute;
    transform: translate(-80%, -120%);
    box-sizing: border-box;
    padding: 90px 90px;
    border-radius: 5%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.827);
    font-size: 1.2rem;


}


.loginbox .logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
left: calc(50% - 50px);
}

.loginbox label{
    margin: 0;
    padding: 0;
    display: block; 
}

.loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 28px;
}

.loginbox input{
    width: 100%;
    height: 3rem;
    margin-bottom: 50px;
    border-radius: 5rem;
}

.loginbox input[typer="text"],
.loginbox input[typer="password"]{
    border: none;
    border-bottom: 3px rgb(63, 62, 62) ;
    background: transparent;
    outline: none;
    color: rgba(22, 24, 27, 0.53);
    font-size: 19px;

}

.boton{
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;

}

.boton:hover{
    background-color: blue;
    color: rgb(227, 238, 238);
}


.loginbox a{
    display: block;
    text-decoration: none;
    color: #dfcdc3;
    margin-bottom: 3px;
}

.loginbox a:hover{
color: blue;

}